.greetingMsg{
    background-color: #D3D3D3;
    padding: 20px;
}

/* Dark Mode*/

.itemListDm > .greetingMsg{
    background-color: #0D1117;
    color: white;
}


.itemList{
    min-height: 90vh;
    max-height: 100%;
}

.itemListDm{
    background-color: #010409;
}

