.cartContainer{
    display: flex;
    flex-direction: column;
    padding: 25px;
    min-height: 90vh;
    max-height: 100%;
}

.cartHeaders{
    padding: 10px 0;
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    text-align: center;
}

.emptyCart{
    font-size: 40px;
    color: red;
    font-weight: bold;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 90vh;
    max-height: 100%;
    gap: 20px;
}

.emptyCartBtn{
    color: black;
    font-size: 20px;
    text-align: center;
    width: 10%;
    display: block;
    padding: 200px;
    padding: 15px;
    border-radius: 10px;
    background-color: #D3D3D3;
    transition: all .3s;
}

.emptyCartBtn:hover{
    background-color: #8f8f8f;
}

.cartContainerBottom{
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.totalPrice{
    font-size: 30px;
    font-weight: bold;
}

.actionBtn{
    cursor: pointer;
    margin: 0px 10px;
    padding: 15px;
    font-size: 20px;
    background-color: #D3D3D3;
    border: none;
    transition: all .3s;
    border-radius: 10px;
}

.actionBtn:hover{
    background-color: #8f8f8f;
}

.cartContainerDM{
    background-color: #010409;
    color: white;
}

.cartContainerDM .cartHeaders{
    border-bottom: 1px solid white;
}

.cartContainerDM .actionBtn{
    background-color: #07090c;
    color: white;
}

.cartContainerDM .actionBtn:hover{
    background-color: #020203;
}

.emptyCartDM{
    background-color: #010409;
    color: #8E1A13;
}

.emptyCartDM .emptyCartBtn{
    background-color: #07090c;
    color: white;
}

.emptyCartDM .emptyCartBtn:hover{
    background-color: #020203;
}