.inputForm{
    display: block;
    font-size: 20px;
    padding: 5px;
    margin-bottom: 10px;
}

.checkoutContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    min-height: 90vh;
    max-height: 100%;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
}


.submitBtn{
    margin-top: 10px;
    width: 100%;
    border: none;
    background-color: #D3D3D3;
    padding: 15px;
    font-weight: bold;
    border-radius: 5px;
    transition: all .3s;
    font-size: 20px;
    display: block;
    text-align: center;
    color: black;
}

.submitBtn:hover{
    cursor: pointer;
    background-color: #8f8f8f;
}

.checkoutTitle{
    font-size: 40px;
    margin-bottom: 15px;
}

.formGroup{
    display: flex;
    gap: 20px;
}

.cvvAndExpiring{
    display: flex;
    gap: 10px;
    max-width: fit-content;
    box-sizing: border-box;
    width: 50%;
}

.inputCard{
    width: 100%;
}

.cvvAndExpiring > div{
    flex: 1;
    box-sizing: border-box;
}

.cvvAndExpiring > div > input{
    width: 100%;
}

.formGroup > div{
    margin: 5px 0;
}

.errorMsg{
    color: red;
}

/* Dark Mode */

.checkoutContainer.checkoutContainerDM{
    background-color: var(--dm-principal-bg);
}

.checkoutContainerDM .checkoutTitle,
.checkoutContainerDM .inputForm{
    color: white;
}

.checkoutContainer.checkoutContainerDM .inputForm{
    background-color: var(--dm-principal-bg);
    border: 1px solid white;
}


.checkoutContainerDM label{
    color: white;
}

.checkoutContainerDM .submitBtn{
    background-color: #07090c;
    color: white;
}

.checkoutContainerDM .submitBtn:hover{
    background-color: #020203;
}

.formAndResume{
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
}

.orderResume{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 3px solid #D3D3D3;
}

.orderResumeTitle{
    text-align: center;
}

.orderResumeTotal{
    text-align: right;
    margin-top: 10px;
}

.orderResumeDM {
    color: white;
    border-color: white;
}