@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');


:root{
    --light-gray: #F6F8FA;
    --timberwolf: #D3D3D3;
}

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: var(--light-gray);
    align-items: center;
    padding: 0 20px;
}



.navTitle{
    font-size: 30px;
    color: black;
    font-weight: bold;
}

.cartAndSwitch{
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
}

.navItem{
    display: inline-block;
    padding: 20px;
    transition: all .3s;
    border-bottom: 2px solid var(--light-gray);
    text-decoration: none;
    color: black;
}

.navItemActive{
    display: inline-block;
    padding: 20px;
    transition: all .3s;
    border-bottom: 2px solid var(--light-gray);
    background-color: #D3D3D3;
    border-color: black;
    color: black;
}


.navItem:hover{
    cursor: pointer;
    border-color: black;
    background-color: var(--timberwolf);
}

.navItem > a{
    color: black;
}

/*Dark mode*/

.navDM{
    background-color: #010409;
}

.navDM .navTitle{
    color: white;
}

.navDM .navItem{
    border-color: #010409;
    color: white;
}

.navDM .navItemActive{
    background-color: #0D1117;
    color: white;
    border-bottom: 2px solid white;
}

.navDM .navItem:hover{
    background-color: #0D1117;
    border-bottom: 2px solid white;
}